.version.meet_us /* version checker */
{
	color: #0000F7;
	background-color: #EB4635;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 1289px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -58px;
	margin-bottom: -65px;
}

#pu369-3
{
	width: 0.01px;
	margin-left: -474px;
}

#u369-3
{
	z-index: 2;
	width: 1912px;
	min-height: 42px;
	margin-right: -10000px;
	margin-top: 156px;
}

#menuu278
{
	z-index: 5;
	width: 1236px;
	margin-right: -10000px;
	margin-top: 156px;
	left: 327px;
}

#u279
{
	width: 135px;
	min-height: 42px;
	margin-right: -10000px;
}

#u280
{
	width: 135px;
	padding-bottom: 25px;
}

#u280:hover
{
	margin: 0px;
}

#u286
{
	width: 135px;
	min-height: 42px;
	margin-right: -10000px;
	left: 137px;
}

#u289
{
	width: 135px;
	padding-bottom: 25px;
}

#u280.MuseMenuActive,#u289:hover
{
	margin: 0px;
}

#u293
{
	width: 135px;
	min-height: 42px;
	margin-right: -10000px;
	left: 274px;
}

#u294
{
	width: 135px;
	padding-bottom: 25px;
}

#u289.MuseMenuActive,#u294:hover
{
	margin: 0px;
}

#u4190
{
	width: 135px;
	min-height: 42px;
	margin-right: -10000px;
	left: 411px;
}

#u4191
{
	width: 135px;
	padding-bottom: 25px;
}

#u294.MuseMenuActive,#u4191:hover
{
	margin: 0px;
}

#u282-4,#u292-4,#u297-4,#u4193-4
{
	width: 135px;
	min-height: 17px;
	margin-right: -10000px;
	top: 12px;
}

#u300
{
	width: 136px;
	min-height: 42px;
	margin-right: -10000px;
	left: 548px;
}

#u303
{
	width: 136px;
	padding-bottom: 25px;
}

#u4191.MuseMenuActive,#u303:hover
{
	margin: 0px;
}

#u1598
{
	width: 136px;
	min-height: 42px;
	margin-right: -10000px;
	left: 686px;
}

#u1601
{
	width: 136px;
	padding-bottom: 25px;
}

#u303.MuseMenuActive,#u1601:hover
{
	margin: 0px;
}

#u320
{
	width: 136px;
	min-height: 42px;
	margin-right: -10000px;
	left: 824px;
}

#u321
{
	width: 136px;
	padding-bottom: 25px;
}

#u1601.MuseMenuActive,#u321:hover
{
	margin: 0px;
}

#u333
{
	width: 136px;
	min-height: 42px;
	margin-right: -10000px;
	left: 962px;
}

#u334
{
	width: 136px;
	padding-bottom: 25px;
}

#u321.MuseMenuActive,#u334:hover
{
	margin: 0px;
}

#u346
{
	width: 136px;
	min-height: 42px;
	margin-right: -10000px;
	left: 1100px;
}

#u349
{
	width: 136px;
	padding-bottom: 25px;
}

#u334.MuseMenuActive,#u349:hover
{
	margin: 0px;
}

#u349.MuseMenuActive
{
	margin: 0px;
}

#u306-4,#u1604-4,#u324-4,#u337-4,#u351-4
{
	width: 136px;
	min-height: 17px;
	margin-right: -10000px;
	top: 12px;
}

#u1562
{
	z-index: 60;
	width: 103px;
	min-height: 57px;
	margin-right: -10000px;
	margin-top: 65px;
	left: 1331px;
}

#u4177
{
	z-index: 61;
	width: 524px;
	margin-right: -10000px;
	left: 474px;
}

#u4455
{
	z-index: 63;
	width: 285px;
	margin-right: -10000px;
	margin-top: 79px;
	left: 1022px;
}

#u1475-9
{
	z-index: 66;
	width: 620px;
	min-height: 72px;
	margin-left: 188px;
	margin-top: 55px;
	position: relative;
}

#u1475-2
{
	font-size: 15px;
	line-height: 18px;
	color: #7F7F7F;
	font-weight: bold;
}

#u1475-3
{
	font-size: 12px;
	text-align: justify;
	line-height: 14px;
	color: #7F7F7F;
}

#u1475-6
{
	font-size: 12px;
	text-align: justify;
	color: #7F7F7F;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u1475-4
{
	line-height: 14px;
}

#u1475-5
{
	font-size: 14px;
	line-height: 17px;
}

#pu1523
{
	width: 0.01px;
	margin-left: 187px;
	margin-top: 3px;
}

#u1523
{
	z-index: 101;
	width: 186px;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
}

#u1527
{
	z-index: 103;
	width: 183px;
	position: relative;
	margin-right: -10000px;
	left: 227px;
}

#u1531
{
	z-index: 75;
	width: 185px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 436px;
}

#pu1559-6
{
	width: 0.01px;
	margin-left: 222px;
	margin-top: 2px;
}

#u1559-6
{
	z-index: 116;
	width: 111px;
	min-height: 33px;
	color: #7F7F7F;
	text-align: center;
	position: relative;
	margin-right: -10000px;
}

#u1557-6
{
	z-index: 105;
	width: 111px;
	min-height: 33px;
	color: #7F7F7F;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	left: 226px;
}

#u1555-6
{
	z-index: 77;
	width: 111px;
	min-height: 33px;
	color: #7F7F7F;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	left: 443px;
}

#pu1525
{
	width: 0.01px;
	margin-left: 192px;
	margin-top: 33px;
}

#u1525
{
	z-index: 89;
	width: 183px;
	position: relative;
	margin-right: -10000px;
}

#u4534
{
	z-index: 134;
	width: 189px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 220px;
}

#u4529
{
	z-index: 132;
	width: 189px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 428px;
}

#pu1558-6
{
	width: 0.01px;
	margin-left: 216px;
	margin-top: -1px;
}

#u1558-6
{
	z-index: 91;
	width: 111px;
	min-height: 33px;
	color: #7F7F7F;
	text-align: center;
	position: relative;
	margin-right: -10000px;
}

#u4544-5
{
	z-index: 111;
	width: 111px;
	min-height: 33px;
	color: #7F7F7F;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 232px;
}

#u4545-5
{
	z-index: 83;
	width: 111px;
	min-height: 33px;
	color: #7F7F7F;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 449px;
}

#u1559-2,#u1557-2,#u1555-2,#u1558-2,#u4544-2,#u4545-2
{
	font-size: 14px;
	font-weight: bold;
}

#u1559-4,#u1557-4,#u1555-4,#u1558-4,#u4544-3,#u4545-3
{
	font-size: 13px;
	line-height: 16px;
	font-weight: normal;
}

#u4523
{
	z-index: 130;
	width: 189px;
	margin-left: 192px;
	margin-top: 14px;
	position: relative;
}

#u4534_img,#u4529_img,#u4523_img
{
	padding-right: 1px;
	padding-bottom: 1px;
}

#u4547-4
{
	z-index: 97;
	width: 111px;
	min-height: 33px;
	color: #7F7F7F;
	font-size: 14px;
	text-align: center;
	font-weight: bold;
	margin-left: 227px;
	margin-top: 8px;
	position: relative;
}

#pu1476
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: -875px;
}

#u1476
{
	z-index: 65;
	width: 962px;
	height: 1205px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 99px;
	background: #FFFFFF url("../images/prices_bcg.jpg") no-repeat left top;
	background-size: contain;
}

#u1589
{
	z-index: 88;
	border-style: none;
	border-color: transparent;
	background-color: #7F7F7F;
}

#u1589_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	position: relative;
	left: -100px;
}

#u1590-4
{
	z-index: 122;
	width: 380px;
	min-height: 11px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 17px;
	left: 154px;
}

#u1931-4
{
	z-index: 126;
	width: 150px;
	min-height: 11px;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 890px;
}

#u1589-bw
{
	z-index: 88;
	margin-top: 1172px;
	height: 33px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 55px;
	padding-bottom: 65px;
}

#page .verticalspacer
{
	clear: both;
}

