.version.offers /* version checker */
{
	color: #000015;
	background-color: #CF5D02;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 866px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -58px;
	margin-bottom: -36px;
}

#pu369-3
{
	width: 0.01px;
	margin-left: -474px;
}

#u369-3
{
	z-index: 2;
	width: 1912px;
	min-height: 42px;
	margin-right: -10000px;
	margin-top: 156px;
}

#menuu278
{
	z-index: 5;
	width: 1236px;
	margin-right: -10000px;
	margin-top: 156px;
	left: 327px;
}

#u279
{
	width: 135px;
	min-height: 42px;
	margin-right: -10000px;
}

#u280
{
	width: 135px;
	padding-bottom: 25px;
}

#u280:hover
{
	margin: 0px;
}

#u286
{
	width: 135px;
	min-height: 42px;
	margin-right: -10000px;
	left: 137px;
}

#u289
{
	width: 135px;
	padding-bottom: 25px;
}

#u280.MuseMenuActive,#u289:hover
{
	margin: 0px;
}

#u293
{
	width: 135px;
	min-height: 42px;
	margin-right: -10000px;
	left: 274px;
}

#u294
{
	width: 135px;
	padding-bottom: 25px;
}

#u289.MuseMenuActive,#u294:hover
{
	margin: 0px;
}

#u4190
{
	width: 135px;
	min-height: 42px;
	margin-right: -10000px;
	left: 411px;
}

#u4191
{
	width: 135px;
	padding-bottom: 25px;
}

#u294.MuseMenuActive,#u4191:hover
{
	margin: 0px;
}

#u282-4,#u292-4,#u297-4,#u4193-4
{
	width: 135px;
	min-height: 17px;
	margin-right: -10000px;
	top: 12px;
}

#u300
{
	width: 136px;
	min-height: 42px;
	margin-right: -10000px;
	left: 548px;
}

#u303
{
	width: 136px;
	padding-bottom: 25px;
}

#u4191.MuseMenuActive,#u303:hover
{
	margin: 0px;
}

#u1598
{
	width: 136px;
	min-height: 42px;
	margin-right: -10000px;
	left: 686px;
}

#u1601
{
	width: 136px;
	padding-bottom: 25px;
}

#u303.MuseMenuActive,#u1601:hover
{
	margin: 0px;
}

#u320
{
	width: 136px;
	min-height: 42px;
	margin-right: -10000px;
	left: 824px;
}

#u321
{
	width: 136px;
	padding-bottom: 25px;
}

#u1601.MuseMenuActive,#u321:hover
{
	margin: 0px;
}

#u333
{
	width: 136px;
	min-height: 42px;
	margin-right: -10000px;
	left: 962px;
}

#u334
{
	width: 136px;
	padding-bottom: 25px;
}

#u321.MuseMenuActive,#u334:hover
{
	margin: 0px;
}

#u346
{
	width: 136px;
	min-height: 42px;
	margin-right: -10000px;
	left: 1100px;
}

#u349
{
	width: 136px;
	padding-bottom: 25px;
}

#u334.MuseMenuActive,#u349:hover
{
	margin: 0px;
}

#u349.MuseMenuActive
{
	margin: 0px;
}

#u306-4,#u1604-4,#u324-4,#u337-4,#u351-4
{
	width: 136px;
	min-height: 17px;
	margin-right: -10000px;
	top: 12px;
}

#u1562
{
	z-index: 60;
	width: 103px;
	min-height: 57px;
	margin-right: -10000px;
	margin-top: 65px;
	left: 1331px;
}

#u4177
{
	z-index: 61;
	width: 524px;
	margin-right: -10000px;
	left: 474px;
}

#u4455
{
	z-index: 63;
	width: 285px;
	margin-right: -10000px;
	margin-top: 79px;
	left: 1022px;
}

#pu4425
{
	width: 0.01px;
	margin-left: -20px;
	margin-top: 11px;
}

#u4425
{
	z-index: 65;
	width: 960px;
	position: relative;
	margin-right: -10000px;
}

#u4410-28
{
	z-index: 79;
	width: 574px;
	min-height: 256px;
	position: relative;
	margin-right: -10000px;
	margin-top: 67px;
	left: 213px;
}

#u4453-14
{
        z-index: 79;
        width: 574px;
        min-height: 90px;
        position: relative;
        margin-right: -10000px;
        margin-top: 391px;
        left: 212px;
}

#u4453-5
{
	text-decoration: none;
	color: #FF0000;
}

#u4453-9
{
	color: #7F7F7F;
}

#u4453-2,#u4453-4,#u4453-11
{
	font-size: 13px;
	line-height: 16px;
	color: #7F7F7F;
}

#u2692
{
	z-index: 121;
	width: 137px;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 726px;
}

#u4605
{
        z-index: 95;
        width: 468px;
        position: relative;
        margin-right: -10000px;
        margin-top: 69px;
        left: 241px;
}

#u1585
{
	z-index: 67;
	border-style: none;
	border-color: transparent;
	background-color: #7F7F7F;
	padding-bottom: 4px;
}

#u1585_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	position: relative;
	left: -100px;
}

#u1586-4
{
	z-index: 68;
	width: 380px;
	min-height: 11px;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 111px;
}

#u1926-4
{
	z-index: 72;
	width: 150px;
	min-height: 11px;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 916px;
}

#u1585-bw
{
	z-index: 67;
	margin-top: 89px;
	height: 22px;
}

#u4248-3
{
	z-index: 76;
	width: 5px;
	left: -284px;
	margin-top: 20px;
	position: relative;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 55px;
}

#page .verticalspacer
{
	clear: both;
}

