.version.packages /* version checker */
{
	color: #0000ED;
	background-color: #C8D91B;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 810.9156250000059px;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -58px;
	margin-bottom: -22px;
}

#pu369-3
{
	width: 0.01px;
	margin-left: -474px;
}

#u369-3
{
	z-index: 2;
	width: 1912px;
	min-height: 42px;
	margin-right: -10000px;
	margin-top: 156px;
}

#menuu278
{
	z-index: 5;
	width: 1236px;
	margin-right: -10000px;
	margin-top: 156px;
	left: 327px;
}

#u279
{
	width: 135px;
	min-height: 42px;
	margin-right: -10000px;
}

#u280
{
	width: 135px;
	padding-bottom: 25px;
}

#u280:hover
{
	margin: 0px;
}

#u286
{
	width: 135px;
	min-height: 42px;
	margin-right: -10000px;
	left: 137px;
}

#u289
{
	width: 135px;
	padding-bottom: 25px;
}

#u280.MuseMenuActive,#u289:hover
{
	margin: 0px;
}

#u293
{
	width: 135px;
	min-height: 42px;
	margin-right: -10000px;
	left: 274px;
}

#u294
{
	width: 135px;
	padding-bottom: 25px;
}

#u289.MuseMenuActive,#u294:hover
{
	margin: 0px;
}

#u4190
{
	width: 135px;
	min-height: 42px;
	margin-right: -10000px;
	left: 411px;
}

#u4191
{
	width: 135px;
	padding-bottom: 25px;
}

#u294.MuseMenuActive,#u4191:hover
{
	margin: 0px;
}

#u282-4,#u292-4,#u297-4,#u4193-4
{
	width: 135px;
	min-height: 17px;
	margin-right: -10000px;
	top: 12px;
}

#u300
{
	width: 136px;
	min-height: 42px;
	margin-right: -10000px;
	left: 548px;
}

#u303
{
	width: 136px;
	padding-bottom: 25px;
}

#u4191.MuseMenuActive,#u303:hover
{
	margin: 0px;
}

#u1598
{
	width: 136px;
	min-height: 42px;
	margin-right: -10000px;
	left: 686px;
}

#u1601
{
	width: 136px;
	padding-bottom: 25px;
}

#u303.MuseMenuActive,#u1601:hover
{
	margin: 0px;
}

#u320
{
	width: 136px;
	min-height: 42px;
	margin-right: -10000px;
	left: 824px;
}

#u321
{
	width: 136px;
	padding-bottom: 25px;
}

#u1601.MuseMenuActive,#u321:hover
{
	margin: 0px;
}

#u333
{
	width: 136px;
	min-height: 42px;
	margin-right: -10000px;
	left: 962px;
}

#u334
{
	width: 136px;
	padding-bottom: 25px;
}

#u321.MuseMenuActive,#u334:hover
{
	margin: 0px;
}

#u346
{
	width: 136px;
	min-height: 42px;
	margin-right: -10000px;
	left: 1100px;
}

#u349
{
	width: 136px;
	padding-bottom: 25px;
}

#u334.MuseMenuActive,#u349:hover
{
	margin: 0px;
}

#u349.MuseMenuActive
{
	margin: 0px;
}

#u306-4,#u1604-4,#u324-4,#u337-4,#u351-4
{
	width: 136px;
	min-height: 17px;
	margin-right: -10000px;
	top: 12px;
}

#u1562
{
	z-index: 60;
	width: 103px;
	min-height: 57px;
	margin-right: -10000px;
	margin-top: 65px;
	left: 1331px;
}

#u4177
{
	z-index: 61;
	width: 524px;
	margin-right: -10000px;
	left: 474px;
}

#u4455
{
	z-index: 63;
	width: 285px;
	margin-right: -10000px;
	margin-top: 79px;
	left: 1022px;
}

#pu1571
{
	width: 0.01px;
	margin-top: 2px;
}

#u1571
{
	z-index: 65;
	width: 960px;
	position: relative;
	margin-right: -10000px;
}

#u2704
{
	z-index: 76;
	width: 383px;
	position: relative;
	margin-right: -10000px;
	margin-top: 57px;
	left: 289px;
}

#u1746
{
	z-index: 77;
	width: 90px;
	position: relative;
	margin-right: -10000px;
}

#u1760-7
{
	z-index: 79;
	width: 251px;
	min-height: 107px;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 132px;
}

#u1760-2
{
	font-size: 16px;
	line-height: 19px;
	color: #7F7F7F;
	font-weight: bold;
}

#u1760-4
{
	font-size: 16px;
	line-height: 19px;
	color: #7F7F7F;
}

#u3363
{
	z-index: 86;
	width: 365px;
	position: relative;
	margin-right: -10000px;
	margin-top: 350px;
	left: 289px;
}

#u1740
{
	z-index: 87;
	width: 91px;
	position: relative;
	margin-right: -10000px;
}

#u1740_clip
{
	overflow: hidden;
	width: 91px;
	height: 90px;
}

#u1740_img
{
	margin-bottom: -1px;
}

#u1758-7
{
	z-index: 89;
	width: 228px;
	min-height: 47px;
	position: relative;
	margin-right: -10000px;
	left: 137px;
}

#u1758-2
{
	font-size: 16px;
	text-align: center;
	line-height: 19px;
	color: #7F7F7F;
	font-weight: bold;
}

#u1758-4
{
	font-size: 16px;
	text-align: center;
	line-height: 19px;
	color: #7F7F7F;
}

#u3362
{
	z-index: 96;
	width: 367px;
	position: relative;
	margin-right: -10000px;
	margin-top: 203px;
	left: 288px;
}

#u1751
{
	z-index: 97;
	width: 90px;
	position: relative;
	margin-right: -10000px;
}

#u1759-7
{
	z-index: 99;
	width: 241px;
	min-height: 103px;
	position: relative;
	margin-right: -10000px;
	left: 126px;
}

#u1759-2
{
	font-size: 17px;
	text-align: center;
	line-height: 20px;
	color: #7F7F7F;
	font-weight: bold;
}

#u1759-4
{
	font-size: 17px;
	text-align: center;
	line-height: 20px;
	color: #7F7F7F;
	font-weight: normal;
}

#u1587
{
	z-index: 67;
	border-style: none;
	border-color: transparent;
	background-color: #7F7F7F;
	padding-bottom: 7px;
}

#u1587_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	position: relative;
	left: -100px;
}

#u1588-4
{
	z-index: 68;
	width: 380px;
	min-height: 11px;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 111px;
}

#u1929-4
{
	z-index: 72;
	width: 150px;
	min-height: 11px;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 898px;
}

#u1587-bw
{
	z-index: 67;
	margin-top: 101px;
	height: 26px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 55px;
	padding-bottom: 20px;
}

#page .verticalspacer
{
	clear: both;
}

