.version.parties /* version checker */
{
	color: #00001C;
	background-color: #62C112;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 771.6656250000028px;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -58px;
}

#pu369-3
{
	width: 0.01px;
	margin-left: -474px;
}

#u369-3
{
	z-index: 2;
	width: 1912px;
	min-height: 42px;
	margin-right: -10000px;
	margin-top: 156px;
}

#menuu278
{
	z-index: 5;
	width: 1236px;
	margin-right: -10000px;
	margin-top: 156px;
	left: 327px;
}

#u279
{
	width: 135px;
	min-height: 42px;
	margin-right: -10000px;
}

#u280
{
	width: 135px;
	padding-bottom: 25px;
}

#u280:hover
{
	margin: 0px;
}

#u286
{
	width: 135px;
	min-height: 42px;
	margin-right: -10000px;
	left: 137px;
}

#u289
{
	width: 135px;
	padding-bottom: 25px;
}

#u280.MuseMenuActive,#u289:hover
{
	margin: 0px;
}

#u293
{
	width: 135px;
	min-height: 42px;
	margin-right: -10000px;
	left: 274px;
}

#u294
{
	width: 135px;
	padding-bottom: 25px;
}

#u289.MuseMenuActive,#u294:hover
{
	margin: 0px;
}

#u4190
{
	width: 135px;
	min-height: 42px;
	margin-right: -10000px;
	left: 411px;
}

#u4191
{
	width: 135px;
	padding-bottom: 25px;
}

#u294.MuseMenuActive,#u4191:hover
{
	margin: 0px;
}

#u282-4,#u292-4,#u297-4,#u4193-4
{
	width: 135px;
	min-height: 17px;
	margin-right: -10000px;
	top: 12px;
}

#u300
{
	width: 136px;
	min-height: 42px;
	margin-right: -10000px;
	left: 548px;
}

#u303
{
	width: 136px;
	padding-bottom: 25px;
}

#u4191.MuseMenuActive,#u303:hover
{
	margin: 0px;
}

#u1598
{
	width: 136px;
	min-height: 42px;
	margin-right: -10000px;
	left: 686px;
}

#u1601
{
	width: 136px;
	padding-bottom: 25px;
}

#u303.MuseMenuActive,#u1601:hover
{
	margin: 0px;
}

#u320
{
	width: 136px;
	min-height: 42px;
	margin-right: -10000px;
	left: 824px;
}

#u321
{
	width: 136px;
	padding-bottom: 25px;
}

#u1601.MuseMenuActive,#u321:hover
{
	margin: 0px;
}

#u333
{
	width: 136px;
	min-height: 42px;
	margin-right: -10000px;
	left: 962px;
}

#u334
{
	width: 136px;
	padding-bottom: 25px;
}

#u321.MuseMenuActive,#u334:hover
{
	margin: 0px;
}

#u346
{
	width: 136px;
	min-height: 42px;
	margin-right: -10000px;
	left: 1100px;
}

#u349
{
	width: 136px;
	padding-bottom: 25px;
}

#u334.MuseMenuActive,#u349:hover
{
	margin: 0px;
}

#u349.MuseMenuActive
{
	margin: 0px;
}

#u306-4,#u1604-4,#u324-4,#u337-4,#u351-4
{
	width: 136px;
	min-height: 17px;
	margin-right: -10000px;
	top: 12px;
}

#u1562
{
	z-index: 60;
	width: 103px;
	min-height: 57px;
	margin-right: -10000px;
	margin-top: 65px;
	left: 1331px;
}

#u4177
{
	z-index: 61;
	width: 524px;
	margin-right: -10000px;
	left: 474px;
}

#u4455
{
	z-index: 63;
	width: 285px;
	margin-right: -10000px;
	margin-top: 79px;
	left: 1022px;
}

#pu1605
{
	width: 0.01px;
}

#u1605
{
	z-index: 65;
	width: 960px;
	position: relative;
	margin-right: -10000px;
}

#u1888-9
{
	z-index: 72;
	width: 624px;
	min-height: 119px;
	position: relative;
	margin-right: -10000px;
	margin-top: 58px;
	left: 164px;
}

#u1888-2
{
	font-size: 14px;
	text-align: justify;
	color: #7F7F7F;
	font-weight: bold;
}

#u1888-3,#u1888-5,#u1888-6
{
	font-size: 12px;
	text-align: justify;
	line-height: 14px;
	color: #7F7F7F;
}

#u2710
{
	z-index: 81;
	width: 190px;
	position: relative;
	margin-right: -10000px;
	margin-top: 130px;
	left: 149px;
}

#u1699
{
	z-index: 82;
	width: 190px;
	position: relative;
}

#u1722-4
{
	z-index: 84;
	width: 45px;
	min-height: 14px;
	line-height: 14px;
	color: #7F7F7F;
	font-size: 12px;
	text-align: justify;
	margin-left: 70px;
	margin-top: 18px;
	position: relative;
}

#u1710
{
	z-index: 88;
	width: 190px;
	position: relative;
	margin-right: -10000px;
	margin-top: 254px;
	left: 304px;
}

#u1723-4
{
	z-index: 90;
	width: 55px;
	min-height: 14px;
	line-height: 14px;
	color: #7F7F7F;
	font-size: 12px;
	text-align: justify;
	position: relative;
	margin-right: -10000px;
	margin-top: 462px;
	left: 377px;
}

#u2708
{
	z-index: 94;
	width: 190px;
	position: relative;
	margin-right: -10000px;
	margin-top: 128px;
	left: 462px;
}

#u1705
{
	z-index: 95;
	width: 190px;
	position: relative;
}

#u1724-4
{
	z-index: 97;
	width: 55px;
	min-height: 14px;
	line-height: 14px;
	color: #7F7F7F;
	font-size: 12px;
	text-align: justify;
	margin-left: 72px;
	margin-top: 18px;
	position: relative;
}

#u2711
{
	z-index: 105;
	width: 190px;
	position: relative;
	margin-right: -10000px;
	margin-top: 254px;
	left: 621px;
}

#u2717-4
{
	z-index: 107;
	width: 55px;
	min-height: 14px;
	line-height: 14px;
	color: #7F7F7F;
	font-size: 12px;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	margin-top: 455px;
	left: 689px;
}

#u1719
{
	z-index: 67;
	border-style: none;
	border-color: transparent;
	background-color: #7F7F7F;
	padding-bottom: 7px;
}

#u1719_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	position: relative;
	left: -100px;
}

#u1720-4
{
	z-index: 68;
	width: 380px;
	min-height: 11px;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 165px;
}

#u1930-4
{
	z-index: 101;
	width: 150px;
	min-height: 11px;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 896px;
}

#u1719-bw
{
	z-index: 67;
	margin-top: 79px;
	height: 26px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 59px;
}

#page .verticalspacer
{
	clear: both;
}

