.version.prices /* version checker */
{
	color: #0000F2;
	background-color: #4E9C21;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 1164px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -58px;
	margin-bottom: -73px;
}

#pu369-3
{
	width: 0.01px;
	margin-left: -474px;
}

#u369-3
{
	z-index: 2;
	width: 1912px;
	min-height: 42px;
	margin-right: -10000px;
	margin-top: 156px;
}

#menuu278
{
	z-index: 5;
	width: 1236px;
	margin-right: -10000px;
	margin-top: 156px;
	left: 327px;
}

#u279
{
	width: 135px;
	min-height: 42px;
	margin-right: -10000px;
}

#u280
{
	width: 135px;
	padding-bottom: 25px;
}

#u280:hover
{
	margin: 0px;
}

#u286
{
	width: 135px;
	min-height: 42px;
	margin-right: -10000px;
	left: 137px;
}

#u289
{
	width: 135px;
	padding-bottom: 25px;
}

#u280.MuseMenuActive,#u289:hover
{
	margin: 0px;
}

#u293
{
	width: 135px;
	min-height: 42px;
	margin-right: -10000px;
	left: 274px;
}

#u294
{
	width: 135px;
	padding-bottom: 25px;
}

#u289.MuseMenuActive,#u294:hover
{
	margin: 0px;
}

#u4190
{
	width: 135px;
	min-height: 42px;
	margin-right: -10000px;
	left: 411px;
}

#u4191
{
	width: 135px;
	padding-bottom: 25px;
}

#u294.MuseMenuActive,#u4191:hover
{
	margin: 0px;
}

#u282-4,#u292-4,#u297-4,#u4193-4
{
	width: 135px;
	min-height: 17px;
	margin-right: -10000px;
	top: 12px;
}

#u300
{
	width: 136px;
	min-height: 42px;
	margin-right: -10000px;
	left: 548px;
}

#u303
{
	width: 136px;
	padding-bottom: 25px;
}

#u4191.MuseMenuActive,#u303:hover
{
	margin: 0px;
}

#u1598
{
	width: 136px;
	min-height: 42px;
	margin-right: -10000px;
	left: 686px;
}

#u1601
{
	width: 136px;
	padding-bottom: 25px;
}

#u303.MuseMenuActive,#u1601:hover
{
	margin: 0px;
}

#u320
{
	width: 136px;
	min-height: 42px;
	margin-right: -10000px;
	left: 824px;
}

#u321
{
	width: 136px;
	padding-bottom: 25px;
}

#u1601.MuseMenuActive,#u321:hover
{
	margin: 0px;
}

#u333
{
	width: 136px;
	min-height: 42px;
	margin-right: -10000px;
	left: 962px;
}

#u334
{
	width: 136px;
	padding-bottom: 25px;
}

#u321.MuseMenuActive,#u334:hover
{
	margin: 0px;
}

#u346
{
	width: 136px;
	min-height: 42px;
	margin-right: -10000px;
	left: 1100px;
}

#u349
{
	width: 136px;
	padding-bottom: 25px;
}

#u334.MuseMenuActive,#u349:hover
{
	margin: 0px;
}

#u349.MuseMenuActive
{
	margin: 0px;
}

#u306-4,#u1604-4,#u324-4,#u337-4,#u351-4
{
	width: 136px;
	min-height: 17px;
	margin-right: -10000px;
	top: 12px;
}

#u1562
{
	z-index: 60;
	width: 103px;
	min-height: 57px;
	margin-right: -10000px;
	margin-top: 65px;
	left: 1331px;
}

#u4177
{
	z-index: 61;
	width: 524px;
	margin-right: -10000px;
	left: 474px;
}

#u4455
{
	z-index: 63;
	width: 285px;
	margin-right: -10000px;
	margin-top: 79px;
	left: 1022px;
}

#pu2698
{
	width: 0.01px;
	margin-left: -120px;
	margin-top: 2px;
}

#u2698
{
	z-index: 65;
	width: 961px;
	position: relative;
	margin-right: -10000px;
	left: 119px;
}

#u1228
{
	z-index: 290;
	width: 156px;
	position: relative;
	margin-right: -10000px;
	margin-top: 628px;
	left: 752px;
}

#u1234
{
	z-index: 292;
	width: 156px;
	position: relative;
	margin-right: -10000px;
	margin-top: 909px;
	left: 752px;
}

#u1239
{
	z-index: 294;
	width: 156px;
	position: relative;
	margin-right: -10000px;
	margin-top: 241px;
	left: 752px;
}

#u1244
{
	z-index: 296;
	width: 156px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1333px;
	left: 752px;
}

#u1690-3
{
	z-index: 313;
	width: 5px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1032px;
}

#pu1457-5
{
	width: 0.01px;
	margin-left: 172px;
	margin-top: -1807px;
}

#u1457-5
{
	z-index: 303;
	width: 509px;
	min-height: 40px;
	color: #7F7F7F;
	text-align: justify;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
}

#u1457-2
{
	font-size: 16px;
	line-height: 19px;
}

#u1474
{
	z-index: 308;
	width: 509px;
	height: 1px;
	border-style: none;
	border-color: transparent;
	background-color: #7F7F7F;
	opacity: 0.3;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	filter: alpha(opacity=30);
	position: relative;
	margin-right: -10000px;
	margin-top: 23px;
}

#u1217-223
{
	z-index: 67;
	width: 565px;
	min-height: 96px;
	color: #7F7F7F;
	text-align: justify;
	margin-left: 172px;
	top: -1722px;
	margin-bottom: -1440px;
	position: relative;
}

#u1217-73
{
	font-weight: normal;
}

#u1217-3,#u1217-30,#u1217-55,#u1217-79,#u1217-149,#u1217-169
{
	font-size: 13px;
	line-height: 16px;
	font-weight: bold;
}

#u1217-101,#u1217-181,#u1217-183
{
	font-size: 14px;
}

#u1217-2,#u1217-29,#u1217-54,#u1217-78,#u1217-148,#u1217-168,#u1217-196,#u1217-203,#u1217-216
{
	font-size: 14px;
	font-weight: bold;
}

#u1217-6,#u1217-9,#u1217-12,#u1217-15,#u1217-18,#u1217-20,#u1217-23,#u1217-26,#u1217-33,#u1217-36,#u1217-39,#u1217-42,#u1217-45,#u1217-48,#u1217-51,#u1217-58,#u1217-61,#u1217-64,#u1217-68,#u1217-71,#u1217-75,#u1217-82,#u1217-85,#u1217-88,#u1217-91,#u1217-94,#u1217-105,#u1217-108,#u1217-111,#u1217-114,#u1217-117,#u1217-120,#u1217-123,#u1217-126,#u1217-130,#u1217-133,#u1217-136,#u1217-139,#u1217-142,#u1217-145,#u1217-152,#u1217-156,#u1217-159,#u1217-162,#u1217-165,#u1217-171,#u1217-174,#u1217-177,#u1217-180,#u1217-184,#u1217-187,#u1217-190,#u1217-193,#u1217-200,#u1217-204,#u1217-207,#u1217-210,#u1217-213,#u1217-220
{
	font-size: 13px;
	line-height: 16px;
}

#u1217-5,#u1217-8,#u1217-11,#u1217-14,#u1217-17,#u1217-22,#u1217-25,#u1217-32,#u1217-35,#u1217-38,#u1217-41,#u1217-44,#u1217-47,#u1217-50,#u1217-57,#u1217-60,#u1217-63,#u1217-66,#u1217-70,#u1217-74,#u1217-81,#u1217-84,#u1217-87,#u1217-90,#u1217-93,#u1217-96,#u1217-99,#u1217-104,#u1217-107,#u1217-110,#u1217-113,#u1217-116,#u1217-119,#u1217-122,#u1217-125,#u1217-128,#u1217-132,#u1217-135,#u1217-138,#u1217-141,#u1217-144,#u1217-151,#u1217-154,#u1217-158,#u1217-161,#u1217-164,#u1217-173,#u1217-176,#u1217-179,#u1217-182,#u1217-186,#u1217-189,#u1217-192,#u1217-199,#u1217-206,#u1217-209,#u1217-212,#u1217-219
{
	font-weight: bold;
}

#u1457-3,#u1217-27,#u1217-52,#u1217-76,#u1217-97,#u1217-98,#u1217-102,#u1217-146,#u1217-166,#u1217-194,#u1217-197,#u1217-201,#u1217-214,#u1217-217,#u1217-221
{
	font-size: 12px;
	line-height: 14px;
}

#u1631-4
{
	z-index: 309;
	width: 120px;
	min-height: 30px;
	line-height: 30px;
	color: #7F7F7F;
	font-size: 25px;
	text-align: justify;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	margin-left: 650px;
	top: -287px;
	margin-bottom: -30px;
	position: relative;
}

#u1287
{
	z-index: 298;
	border-style: none;
	border-color: transparent;
	background-color: #7F7F7F;
	padding-bottom: 60px;
}

#u1287_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 960px;
	position: relative;
	left: -100px;
}

#u1288-4
{
	z-index: 299;
	width: 380px;
	min-height: 11px;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 144px;
}

#u1927-4
{
	z-index: 316;
	width: 150px;
	min-height: 11px;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 911px;
}

#u1287-bw
{
	z-index: 298;
	margin-top: 102px;
	height: 24px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 56px;
}

#page .verticalspacer
{
	clear: both;
}

