.version.parties /* version checker */
{
	color: #000017;
	background-color: #0F23BB;
}

@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 380px;
	min-height: 1296px;
}

#page_position_content
{
	margin-top: -39px;
}

#u4300
{
	z-index: 58;
	width: 333px;
	margin-left: 23px;
}

#pu4079
{
	width: 0.01px;
	margin-left: 19px;
}

#u4079
{
	z-index: 57;
	width: 93px;
	min-height: 58px;
	margin-right: -10000px;
	margin-top: 7px;
}

#u4465
{
	z-index: 60;
	width: 260px;
	margin-right: -10000px;
	left: 93px;
}

#menuu2184
{
	z-index: 2;
}

#u2193
{
	min-height: 17px;
	padding-bottom: 7px;
}

#u2193:hover
{
	margin: 0px;
}

#u2251
{
	min-height: 17px;
	padding-bottom: 7px;
}

#u2193.MuseMenuActive,#u2251:hover
{
	margin: 0px;
}

#u2256
{
	min-height: 17px;
	padding-bottom: 7px;
}

#u2251.MuseMenuActive,#u2256:hover
{
	margin: 0px;
}

#u4232
{
	min-height: 17px;
	padding-bottom: 7px;
}

#u2256.MuseMenuActive,#u4232:hover
{
	margin: 0px;
}

#u2263
{
	min-height: 17px;
	padding-bottom: 7px;
}

#u4232.MuseMenuActive,#u2263:hover
{
	margin: 0px;
}

#u2272
{
	min-height: 17px;
	padding-bottom: 7px;
}

#u2263.MuseMenuActive,#u2272:hover
{
	margin: 0px;
}

#u2277
{
	min-height: 17px;
	padding-bottom: 7px;
}

#u2272.MuseMenuActive,#u2277:hover
{
	margin: 0px;
}

#u2286
{
	min-height: 17px;
	padding-bottom: 7px;
}

#u2277.MuseMenuActive,#u2286:hover
{
	margin: 0px;
}

#u2293
{
	min-height: 17px;
	padding-bottom: 7px;
}

#u2286.MuseMenuActive,#u2293:hover
{
	margin: 0px;
}

#u2293.MuseMenuActive
{
	margin: 0px;
}

#u2194-4,#u2254-4,#u2259-4,#u4234-4,#u2264-4,#u2274-4,#u2279-4,#u2287-4,#u2294-4
{
	min-height: 17px;
	top: 3px;
}

#u2248,#u2255,#u4229,#u2262,#u2269,#u2276,#u2283,#u2290
{
	margin-top: 2px;
}

#menuu2184-bw
{
	z-index: 2;
	margin-top: 9px;
	height: 232px;
}

#pu3780
{
	width: 0.01px;
	margin-top: -1px;
}

#u3780
{
	z-index: 62;
	width: 381px;
	position: relative;
	margin-right: -10000px;
}

#u3787-9
{
	z-index: 69;
	width: 339px;
	min-height: 158px;
	position: relative;
	margin-right: -10000px;
	margin-top: 54px;
	left: 20px;
}

#u3787-2
{
	font-size: 14px;
	text-align: justify;
	color: #7F7F7F;
	font-weight: bold;
}

#u3787-3,#u3787-5,#u3787-6
{
	font-size: 12px;
	text-align: justify;
	line-height: 14px;
	color: #7F7F7F;
}

#u3788
{
	z-index: 78;
	width: 139px;
	position: relative;
	margin-right: -10000px;
	margin-top: 211px;
	left: 37px;
}

#u3790-4
{
	z-index: 80;
	width: 47px;
	min-height: 14px;
	line-height: 14px;
	color: #7F7F7F;
	font-size: 12px;
	text-align: justify;
	position: relative;
	margin-right: -10000px;
	margin-top: 360px;
	left: 79px;
}

#u3791
{
	z-index: 84;
	width: 142px;
	position: relative;
	margin-right: -10000px;
	margin-top: 208px;
	left: 209px;
}

#u3793
{
	z-index: 86;
	width: 136px;
	position: relative;
	margin-right: -10000px;
	margin-top: 416px;
	left: 39px;
}

#u3795-4
{
	z-index: 88;
	width: 54px;
	min-height: 14px;
	line-height: 14px;
	color: #7F7F7F;
	font-size: 12px;
	text-align: justify;
	position: relative;
	margin-right: -10000px;
	margin-top: 564px;
	left: 79px;
}

#u3796
{
	z-index: 92;
	width: 137px;
	position: relative;
	margin-right: -10000px;
	margin-top: 418px;
	left: 213px;
}

#u3798-4
{
	z-index: 94;
	width: 55px;
	min-height: 14px;
	line-height: 14px;
	color: #7F7F7F;
	font-size: 12px;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	margin-top: 564px;
	left: 251px;
}

#u3804-4
{
	z-index: 98;
	width: 55px;
	min-height: 14px;
	line-height: 14px;
	color: #7F7F7F;
	font-size: 12px;
	text-align: justify;
	position: relative;
	margin-right: -10000px;
	margin-top: 360px;
	left: 258px;
}

#u3782
{
	z-index: 64;
	border-style: none;
	border-color: transparent;
	background-color: #7F7F7F;
	padding-bottom: 7px;
}

#u3783-4
{
	z-index: 65;
	width: 354px;
	min-height: 11px;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 20px;
}

#u3782-bw
{
	z-index: 64;
	margin-top: 55px;
	height: 26px;
}

body
{
	position: relative;
	min-width: 380px;
	padding-top: 40px;
}

#page .verticalspacer
{
	clear: both;
}

