.version.prices /* version checker */
{
	color: #000008;
	background-color: #95955A;
}

@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 380px;
	min-height: 1797.9660714286024px;
	padding-bottom: 0px;
}

#page_position_content
{
	margin-top: -39px;
	margin-bottom: -28px;
}

#u4300
{
	z-index: 58;
	width: 333px;
	margin-left: 23px;
}

#pu4079
{
	width: 0.01px;
	margin-left: 19px;
}

#u4079
{
	z-index: 57;
	width: 93px;
	min-height: 58px;
	margin-right: -10000px;
	margin-top: 7px;
}

#u4465
{
	z-index: 60;
	width: 260px;
	margin-right: -10000px;
	left: 93px;
}

#menuu2184
{
	z-index: 2;
}

#u2193
{
	min-height: 17px;
	padding-bottom: 7px;
}

#u2193:hover
{
	margin: 0px;
}

#u2251
{
	min-height: 17px;
	padding-bottom: 7px;
}

#u2193.MuseMenuActive,#u2251:hover
{
	margin: 0px;
}

#u2256
{
	min-height: 17px;
	padding-bottom: 7px;
}

#u2251.MuseMenuActive,#u2256:hover
{
	margin: 0px;
}

#u4232
{
	min-height: 17px;
	padding-bottom: 7px;
}

#u2256.MuseMenuActive,#u4232:hover
{
	margin: 0px;
}

#u2263
{
	min-height: 17px;
	padding-bottom: 7px;
}

#u4232.MuseMenuActive,#u2263:hover
{
	margin: 0px;
}

#u2272
{
	min-height: 17px;
	padding-bottom: 7px;
}

#u2263.MuseMenuActive,#u2272:hover
{
	margin: 0px;
}

#u2277
{
	min-height: 17px;
	padding-bottom: 7px;
}

#u2272.MuseMenuActive,#u2277:hover
{
	margin: 0px;
}

#u2286
{
	min-height: 17px;
	padding-bottom: 7px;
}

#u2277.MuseMenuActive,#u2286:hover
{
	margin: 0px;
}

#u2293
{
	min-height: 17px;
	padding-bottom: 7px;
}

#u2286.MuseMenuActive,#u2293:hover
{
	margin: 0px;
}

#u2293.MuseMenuActive
{
	margin: 0px;
}

#u2194-4,#u2254-4,#u2259-4,#u4234-4,#u2264-4,#u2274-4,#u2279-4,#u2287-4,#u2294-4
{
	min-height: 17px;
	top: 3px;
}

#u2248,#u2255,#u4229,#u2262,#u2269,#u2276,#u2283,#u2290
{
	margin-top: 2px;
}

#menuu2184-bw
{
	z-index: 2;
	margin-top: 9px;
	height: 232px;
}

#u3726
{
	z-index: 62;
	width: 380px;
	top: -2px;
	margin-bottom: -2px;
	position: relative;
}

#pu3709-5
{
	width: 0.01px;
	margin-left: 32px;
	margin-top: -1580px;
}

#u3709-5
{
	z-index: 286;
	width: 314px;
	min-height: 40px;
	color: #7F7F7F;
	text-align: justify;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	left: 1px;
}

#u3709-2
{
	font-size: 11px;
	line-height: 13px;
}

#u3710
{
	z-index: 291;
	width: 315px;
	height: 1px;
	border-style: none;
	border-color: transparent;
	background-color: #7F7F7F;
	opacity: 0.3;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	filter: alpha(opacity=30);
	position: relative;
	margin-right: -10000px;
	margin-top: 32px;
}

#pu3700-222
{
	width: 0.01px;
	margin-left: 34px;
	margin-top: -1512px;
}

#u3700-222
{
	z-index: 64;
	width: 314px;
	min-height: 1458px;
	color: #7F7F7F;
	text-align: justify;
	position: relative;
	margin-right: -10000px;
}

#u3700-30,#u3700-55,#u3700-78,#u3700-148,#u3700-168
{
	font-size: 12px;
	line-height: 14px;
	font-weight: bold;
}

#u3700-75,#u3700-100,#u3700-145,#u3700-182,#u3700-213
{
	font-size: 13px;
	line-height: 16px;
}

#u3700-2,#u3700-3,#u3700-29,#u3700-54,#u3700-77,#u3700-147,#u3700-167,#u3700-195,#u3700-202,#u3700-215
{
	font-size: 13px;
	line-height: 16px;
	font-weight: bold;
}

#u3700-5,#u3700-8,#u3700-11,#u3700-14,#u3700-17,#u3700-22,#u3700-25,#u3700-32,#u3700-35,#u3700-38,#u3700-41,#u3700-44,#u3700-47,#u3700-50,#u3700-57,#u3700-60,#u3700-63,#u3700-66,#u3700-70,#u3700-73,#u3700-80,#u3700-83,#u3700-86,#u3700-89,#u3700-92,#u3700-95,#u3700-98,#u3700-103,#u3700-106,#u3700-109,#u3700-112,#u3700-115,#u3700-118,#u3700-121,#u3700-124,#u3700-127,#u3700-131,#u3700-134,#u3700-137,#u3700-140,#u3700-143,#u3700-150,#u3700-153,#u3700-157,#u3700-160,#u3700-163,#u3700-172,#u3700-175,#u3700-178,#u3700-181,#u3700-185,#u3700-188,#u3700-191,#u3700-198,#u3700-205,#u3700-208,#u3700-211,#u3700-218
{
	font-weight: bold;
}

#u3709-3,#u3700-6,#u3700-9,#u3700-12,#u3700-15,#u3700-18,#u3700-20,#u3700-23,#u3700-26,#u3700-27,#u3700-33,#u3700-36,#u3700-39,#u3700-42,#u3700-45,#u3700-48,#u3700-51,#u3700-52,#u3700-58,#u3700-61,#u3700-64,#u3700-68,#u3700-71,#u3700-74,#u3700-81,#u3700-84,#u3700-87,#u3700-90,#u3700-93,#u3700-96,#u3700-97,#u3700-101,#u3700-104,#u3700-107,#u3700-110,#u3700-113,#u3700-116,#u3700-119,#u3700-122,#u3700-125,#u3700-129,#u3700-132,#u3700-135,#u3700-138,#u3700-141,#u3700-144,#u3700-151,#u3700-155,#u3700-158,#u3700-161,#u3700-164,#u3700-165,#u3700-170,#u3700-173,#u3700-176,#u3700-179,#u3700-180,#u3700-183,#u3700-186,#u3700-189,#u3700-192,#u3700-193,#u3700-196,#u3700-199,#u3700-200,#u3700-203,#u3700-206,#u3700-209,#u3700-212,#u3700-216,#u3700-219,#u3700-220
{
	font-size: 12px;
	line-height: 14px;
}

#u3711-4
{
	z-index: 292;
	width: 122px;
	min-height: 30px;
	line-height: 24px;
	color: #7F7F7F;
	font-size: 20px;
	text-align: justify;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 1438px;
	left: 207px;
}

#u3724
{
	z-index: 296;
	border-style: none;
	border-color: transparent;
	background-color: #7F7F7F;
	padding-bottom: 19px;
}

#u3725-4
{
	z-index: 297;
	width: 359px;
	min-height: 11px;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 21px;
}

#u3724-bw
{
	z-index: 296;
	margin-top: 37px;
	height: 21px;
}

body
{
	position: relative;
	min-width: 380px;
	padding-top: 40px;
}

#page .verticalspacer
{
	clear: both;
}

