.version.tanning /* version checker */
{
	color: #0000FB;
	background-color: #B87C6C;
}

@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 380px;
	min-height: 2691px;
}

#page_position_content
{
	margin-top: -39px;
}

#u4300
{
	z-index: 58;
	width: 333px;
	margin-left: 23px;
}

#pu4079
{
	width: 0.01px;
	margin-left: 19px;
}

#u4079
{
	z-index: 57;
	width: 93px;
	min-height: 58px;
	margin-right: -10000px;
	margin-top: 7px;
}

#u4465
{
	z-index: 60;
	width: 260px;
	margin-right: -10000px;
	left: 93px;
}

#menuu2184
{
	z-index: 2;
}

#u2193
{
	min-height: 17px;
	padding-bottom: 7px;
}

#u2193:hover
{
	margin: 0px;
}

#u2251
{
	min-height: 17px;
	padding-bottom: 7px;
}

#u2193.MuseMenuActive,#u2251:hover
{
	margin: 0px;
}

#u2256
{
	min-height: 17px;
	padding-bottom: 7px;
}

#u2251.MuseMenuActive,#u2256:hover
{
	margin: 0px;
}

#u4232
{
	min-height: 17px;
	padding-bottom: 7px;
}

#u2256.MuseMenuActive,#u4232:hover
{
	margin: 0px;
}

#u2263
{
	min-height: 17px;
	padding-bottom: 7px;
}

#u4232.MuseMenuActive,#u2263:hover
{
	margin: 0px;
}

#u2272
{
	min-height: 17px;
	padding-bottom: 7px;
}

#u2263.MuseMenuActive,#u2272:hover
{
	margin: 0px;
}

#u2277
{
	min-height: 17px;
	padding-bottom: 7px;
}

#u2272.MuseMenuActive,#u2277:hover
{
	margin: 0px;
}

#u2286
{
	min-height: 17px;
	padding-bottom: 7px;
}

#u2277.MuseMenuActive,#u2286:hover
{
	margin: 0px;
}

#u2293
{
	min-height: 17px;
	padding-bottom: 7px;
}

#u2286.MuseMenuActive,#u2293:hover
{
	margin: 0px;
}

#u2293.MuseMenuActive
{
	margin: 0px;
}

#u2194-4,#u2254-4,#u2259-4,#u4234-4,#u2264-4,#u2274-4,#u2279-4,#u2287-4,#u2294-4
{
	min-height: 17px;
	top: 3px;
}

#u2248,#u2255,#u4229,#u2262,#u2269,#u2276,#u2283,#u2290
{
	margin-top: 2px;
}

#menuu2184-bw
{
	z-index: 2;
	margin-top: 9px;
	height: 232px;
}

#ptab-panelu3732
{
	width: 0.01px;
	margin-top: 30px;
}

#tab-panelu3732
{
	z-index: 62;
}

#u3742
{
	z-index: 63;
}

#u3743
{
	z-index: 64;
	width: 189px;
	min-height: 20px;
	border-style: solid;
	border-color: #999999;
	background-color: #DEDEDE;
	padding-bottom: 3px;
	position: relative;
	margin-right: -10000px;
	border-width: 1px 0px 1px 1px;
}

#u3743:hover
{
	border-style: solid;
	background-color: #FFFFFF;
	width: 189px;
	min-height: 20px;
	margin: 0px -10000px 0px 0px;
	border-width: 1px 0px 1px 1px;
}

#u3743.TabbedPanelsTabSelected
{
	border-style: solid;
	background-color: #FFFFFF;
	width: 189px;
	min-height: 21px;
	margin: 0px -10000px 0px 0px;
	border-width: 1px 0px 0px 1px;
}

#u3745-4
{
	z-index: 65;
	width: 189px;
	min-height: 20px;
	border-color: #999999;
	background-color: transparent;
	line-height: 20px;
	color: #999999;
	text-align: center;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
	margin-right: -10000px;
	top: 1px;
}

#u3743:hover #u3745-4
{
	border-color: #999999;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 0px -10000px 0px 0px;
}

#u3747
{
	z-index: 69;
	width: 190px;
	min-height: 20px;
	border-style: solid;
	border-color: #999999;
	background-color: #DEDEDE;
	padding-bottom: 3px;
	position: relative;
	margin-right: -10000px;
	left: 189px;
	border-width: 1px 0px 1px 1px;
}

#u3747:hover
{
	border-style: solid;
	background-color: #FFFFFF;
	width: 190px;
	min-height: 20px;
	margin: 0px -10000px 0px 0px;
	border-width: 1px 0px 1px 1px;
}

#u3747.TabbedPanelsTabSelected
{
	border-style: solid;
	background-color: #FFFFFF;
	width: 190px;
	min-height: 21px;
	margin: 0px -10000px 0px 0px;
	border-width: 1px 0px 0px 1px;
}

#u3749-4
{
	z-index: 70;
	width: 190px;
	min-height: 20px;
	border-color: #999999;
	background-color: transparent;
	line-height: 20px;
	color: #999999;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	top: 2px;
}

#u3747:hover #u3749-4
{
	border-color: #999999;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 0px -10000px 0px 0px;
}

#u3743.TabbedPanelsTabSelected #u3745-4,#u3747.TabbedPanelsTabSelected #u3749-4
{
	border-style: none;
	border-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 20px;
	margin: 0px -10000px 0px 0px;
}

#u3733
{
	z-index: 74;
}

#u3738
{
	z-index: 75;
	border-style: solid;
	border-color: #999999;
	background-color: #FFFFFF;
	position: relative;
	padding: 11px 8px 1502.1559584597032px;
	border-width: 0px 1px 1px;
}

#u3739-21
{
	z-index: 76;
	width: 357px;
	min-height: 212px;
	color: #999999;
	line-height: 20px;
	margin-left: 3px;
	position: relative;
}

#u3739-4,#u3739-6
{
	font-weight: bold;
}

#u3739-2,#u3739-12
{
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	font-weight: bold;
}

#u3743.TabbedPanelsTabSelected #u3745-4 p,#u3747.TabbedPanelsTabSelected #u3749-4 p,#u3739-3,#u3739-7,#u3739-9,#u3739-10,#u3739-14,#u3739-16,#u3739-18
{
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
}

#u3739-19
{
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
}

#u3740
{
	z-index: 97;
	width: 362px;
	top: -7px;
	margin-bottom: -7px;
	position: relative;
}

#u3734
{
	z-index: 99;
	border-style: solid;
	border-color: #999999;
	background-color: #FFFFFF;
	padding-bottom: 38px;
	position: relative;
	border-width: 0px 1px 1px;
}

#u3737-67
{
	z-index: 100;
	width: 362px;
	min-height: 1263px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 8px;
}

#u3737-3
{
	font-size: 18px;
	color: #7F7F7F;
	font-weight: bold;
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u3737
{
	font-size: 14px;
	color: #999999;
	line-height: 17px;
}

#u3737-2
{
	line-height: 22px;
}

#u3737-8,#u3737-13,#u3737-18,#u3737-25,#u3737-30
{
	line-height: 20px;
	color: #999999;
	font-weight: bold;
}

#u3737-5,#u3737-6,#u3737-10,#u3737-11,#u3737-15,#u3737-16,#u3737-20,#u3737-22,#u3737-23,#u3737-27,#u3737-28,#u3737-31,#u3737-33,#u3737-34,#u3737-36,#u3737-37,#u3737-39,#u3737-40,#u3737-42,#u3737-43,#u3737-45,#u3737-46,#u3737-48,#u3737-49,#u3737-51,#u3737-52,#u3737-54,#u3737-55,#u3737-57,#u3737-58,#u3737-60,#u3737-61,#u3737-63,#u3737-64,#u3737-65
{
	line-height: 20px;
	color: #999999;
}

.TabbedPanelsTab /* tabset */
{
	cursor: pointer;
}

#tab-panelu3732-bw
{
	z-index: 62;
	height: 1993px;
}

#u3735
{
	z-index: 167;
	width: 360px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1914px;
	left: 9px;
}

#u3751
{
	z-index: 169;
	border-style: none;
	border-color: transparent;
	background-color: #7F7F7F;
	padding-bottom: 9px;
}

#u3752-4
{
	z-index: 170;
	width: 354px;
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 15px;
}

#u3751-bw
{
	z-index: 169;
	margin-top: 29px;
	height: 27px;
}

body
{
	position: relative;
	min-width: 380px;
	padding-top: 40px;
}

#page .verticalspacer
{
	clear: both;
}

