#u2034-3,#menuu2035
{
	border-style: none;
	border-color: transparent;
	background-color: #CCCCCC;
}

#u2044
{
	background-color: transparent;
	position: relative;
}

#u2044:hover
{
	background-color: #7F7F7F;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
}

#u2058
{
	background-color: transparent;
	position: relative;
}

#u2058:hover
{
	background-color: #7F7F7F;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
}

#u2081
{
	background-color: transparent;
	position: relative;
}

#u2081:hover
{
	background-color: #7F7F7F;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
}

#u4223
{
	background-color: transparent;
	position: relative;
}

#u4223:hover
{
	background-color: #7F7F7F;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
}

#u2037
{
	background-color: transparent;
	position: relative;
}

#u2037:hover
{
	background-color: #7F7F7F;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
}

#u2088
{
	background-color: transparent;
	position: relative;
}

#u2088:hover
{
	background-color: #7F7F7F;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
}

#u2072
{
	background-color: transparent;
	position: relative;
}

#u2072:hover
{
	background-color: #7F7F7F;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
}

#u2067
{
	background-color: transparent;
	position: relative;
}

#u2067:hover
{
	background-color: #7F7F7F;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
}

#u4303,#u4462,#u2043,#u2057,#u2078,#u4222,#u2036,#u2085,#u2071,#u2064,#u2050
{
	position: relative;
}

#u2051
{
	background-color: transparent;
	position: relative;
}

#u2051:hover
{
	background-color: #7F7F7F;
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
}

#u2044.MuseMenuActive,#u2058.MuseMenuActive,#u2081.MuseMenuActive,#u4223.MuseMenuActive,#u2037.MuseMenuActive,#u2088.MuseMenuActive,#u2072.MuseMenuActive,#u2067.MuseMenuActive,#u2051.MuseMenuActive
{
	background-color: #ED1C24;
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
}

#u2045-4,#u2060-4,#u2084-4,#u4224-4,#u2040-4,#u2091-4,#u2075-4,#u2070-4,#u2053-4
{
	line-height: 14px;
	color: #FFFFFF;
	font-size: 12px;
	text-align: center;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	position: relative;
}

.MenuItem /* unifiedNavBar */
{
	cursor: pointer;
}

