.version.offers /* version checker */
{
	color: #0000F7;
	background-color: #5AA7C1;
}

@-ms-viewport
{
	width: 768px;
}

@-webkit-viewport
{
	width: 768px;
}

@-o-viewport
{
	width: 768px;
}

@-moz-viewport
{
	width: 768px;
}

@viewport
{
	width: 768px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 768px;
	min-height: 784.5750000000305px;
	padding-bottom: 0px;
}

#page_position_content
{
	margin-top: -43px;
}

#pu4303
{
	width: 0.01px;
	margin-left: 28px;
}

#u4303
{
	z-index: 60;
	width: 413px;
	margin-right: -10000px;
}

#u4462
{
	z-index: 62;
	width: 285px;
	margin-right: -10000px;
	margin-top: 48px;
	left: 435px;
}

#pu2034-3
{
	width: 0.01px;
	margin-top: -7px;
}

#u2034-3
{
	z-index: 2;
	min-height: 42px;
}

#u2034-3-bw
{
	z-index: 2;
	min-height: 42px;
	height: 42px;
}

#menuu2035
{
	z-index: 5;
}

#u2043
{
	width: 83px;
	min-height: 42px;
	margin-right: -10000px;
}

#u2044
{
	width: 83px;
	padding-bottom: 28px;
}

#u2044:hover
{
	margin: 0px;
}

#u2057
{
	width: 83px;
	min-height: 42px;
	margin-right: -10000px;
	left: 85px;
}

#u2058
{
	width: 83px;
	padding-bottom: 28px;
}

#u2044.MuseMenuActive,#u2058:hover
{
	margin: 0px;
}

#u2078
{
	width: 83px;
	min-height: 42px;
	margin-right: -10000px;
	left: 170px;
}

#u2081
{
	width: 83px;
	padding-bottom: 28px;
}

#u2058.MuseMenuActive,#u2081:hover
{
	margin: 0px;
}

#u4222
{
	width: 83px;
	min-height: 42px;
	margin-right: -10000px;
	left: 255px;
}

#u4223
{
	width: 83px;
	padding-bottom: 28px;
}

#u2081.MuseMenuActive,#u4223:hover
{
	margin: 0px;
}

#u2045-4,#u2060-4,#u2084-4,#u4224-4
{
	width: 83px;
	min-height: 14px;
	margin-right: -10000px;
	top: 14px;
}

#u2036
{
	width: 84px;
	min-height: 42px;
	margin-right: -10000px;
	left: 340px;
}

#u2037
{
	width: 84px;
	padding-bottom: 28px;
}

#u4223.MuseMenuActive,#u2037:hover
{
	margin: 0px;
}

#u2085
{
	width: 84px;
	min-height: 42px;
	margin-right: -10000px;
	left: 426px;
}

#u2088
{
	width: 84px;
	padding-bottom: 28px;
}

#u2037.MuseMenuActive,#u2088:hover
{
	margin: 0px;
}

#u2071
{
	width: 84px;
	min-height: 42px;
	margin-right: -10000px;
	left: 512px;
}

#u2072
{
	width: 84px;
	padding-bottom: 28px;
}

#u2088.MuseMenuActive,#u2072:hover
{
	margin: 0px;
}

#u2064
{
	width: 84px;
	min-height: 42px;
	margin-right: -10000px;
	left: 598px;
}

#u2067
{
	width: 84px;
	padding-bottom: 28px;
}

#u2072.MuseMenuActive,#u2067:hover
{
	margin: 0px;
}

#u2050
{
	width: 84px;
	min-height: 42px;
	margin-right: -10000px;
	left: 684px;
}

#u2051
{
	width: 84px;
	padding-bottom: 28px;
}

#u2067.MuseMenuActive,#u2051:hover
{
	margin: 0px;
}

#u2051.MuseMenuActive
{
	margin: 0px;
}

#u2040-4,#u2091-4,#u2075-4,#u2070-4,#u2053-4
{
	width: 84px;
	min-height: 14px;
	margin-right: -10000px;
	top: 14px;
}

#menuu2035-bw
{
	z-index: 5;
	height: 42px;
}

#pu4428
{
	width: 0.01px;
	margin-left: -52px;
	margin-top: 9px;
}

#u4428
{
	z-index: 73;
	width: 872px;
	position: relative;
	margin-right: -10000px;
	margin-top: 18px;
}

#u4452-14
{
	z-index: 75;
	width: 574px;
	min-height: 90px;
	position: relative;
	margin-right: -10000px;
	margin-top: 408px;
	left: 145px;
}

#u4452-5
{
	text-decoration: none;
	color: #FF0000;
}

#u4452-9
{
	color: #7F7F7F;
}

#u4452-2,#u4452-4,#u4452-11
{
	font-size: 13px;
	line-height: 16px;
	color: #7F7F7F;
}

#u4445
{
	z-index: 89;
	width: 144px;
	position: relative;
	margin-right: -10000px;
	left: 660px;
}

#u4497-6
{
	z-index: 91;
	width: 574px;
	min-height: 256px;
	position: relative;
	margin-right: -10000px;
	margin-top: 68px;
	left: 154px;
}

#u4497
{
	font-size: 1px;
	line-height: 0px;
}

#u4611-28
{
	z-index: 97;
	width: 574px;
	min-height: 256px;
}

#u4617
{
	z-index: 126;
	width: 303px;
	position: relative;
	margin-right: -10000px;
	margin-top: 212px;
	left: 436px;
}

#u3156
{
	z-index: 64;
	border-style: none;
	border-color: transparent;
	background-color: #7F7F7F;
	padding-bottom: 4px;
}

#u3157-4
{
	z-index: 65;
	width: 380px;
	min-height: 11px;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 21px;
}

#u3159-4
{
	z-index: 69;
	width: 150px;
	min-height: 11px;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 614px;
}

#u3156-bw
{
	z-index: 64;
	margin-top: 101px;
	height: 22px;
}

body
{
	position: relative;
	min-width: 768px;
	padding-top: 37px;
}

#page .verticalspacer
{
	clear: both;
}

