.version.parties /* version checker */
{
	color: #0000EE;
	background-color: #274F35;
}

@-ms-viewport
{
	width: 768px;
}

@-webkit-viewport
{
	width: 768px;
}

@-o-viewport
{
	width: 768px;
}

@-moz-viewport
{
	width: 768px;
}

@viewport
{
	width: 768px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 768px;
	min-height: 729.8000000000006px;
	padding-bottom: 0px;
}

#page_position_content
{
	margin-top: -43px;
}

#pu4303
{
	width: 0.01px;
	margin-left: 28px;
}

#u4303
{
	z-index: 60;
	width: 413px;
	margin-right: -10000px;
}

#u4462
{
	z-index: 62;
	width: 285px;
	margin-right: -10000px;
	margin-top: 48px;
	left: 435px;
}

#pu2034-3
{
	width: 0.01px;
	margin-top: -7px;
}

#u2034-3
{
	z-index: 2;
	min-height: 42px;
}

#u2034-3-bw
{
	z-index: 2;
	min-height: 42px;
	height: 42px;
}

#menuu2035
{
	z-index: 5;
}

#u2043
{
	width: 83px;
	min-height: 42px;
	margin-right: -10000px;
}

#u2044
{
	width: 83px;
	padding-bottom: 28px;
}

#u2044:hover
{
	margin: 0px;
}

#u2057
{
	width: 83px;
	min-height: 42px;
	margin-right: -10000px;
	left: 85px;
}

#u2058
{
	width: 83px;
	padding-bottom: 28px;
}

#u2044.MuseMenuActive,#u2058:hover
{
	margin: 0px;
}

#u2078
{
	width: 83px;
	min-height: 42px;
	margin-right: -10000px;
	left: 170px;
}

#u2081
{
	width: 83px;
	padding-bottom: 28px;
}

#u2058.MuseMenuActive,#u2081:hover
{
	margin: 0px;
}

#u4222
{
	width: 83px;
	min-height: 42px;
	margin-right: -10000px;
	left: 255px;
}

#u4223
{
	width: 83px;
	padding-bottom: 28px;
}

#u2081.MuseMenuActive,#u4223:hover
{
	margin: 0px;
}

#u2045-4,#u2060-4,#u2084-4,#u4224-4
{
	width: 83px;
	min-height: 14px;
	margin-right: -10000px;
	top: 14px;
}

#u2036
{
	width: 84px;
	min-height: 42px;
	margin-right: -10000px;
	left: 340px;
}

#u2037
{
	width: 84px;
	padding-bottom: 28px;
}

#u4223.MuseMenuActive,#u2037:hover
{
	margin: 0px;
}

#u2085
{
	width: 84px;
	min-height: 42px;
	margin-right: -10000px;
	left: 426px;
}

#u2088
{
	width: 84px;
	padding-bottom: 28px;
}

#u2037.MuseMenuActive,#u2088:hover
{
	margin: 0px;
}

#u2071
{
	width: 84px;
	min-height: 42px;
	margin-right: -10000px;
	left: 512px;
}

#u2072
{
	width: 84px;
	padding-bottom: 28px;
}

#u2088.MuseMenuActive,#u2072:hover
{
	margin: 0px;
}

#u2064
{
	width: 84px;
	min-height: 42px;
	margin-right: -10000px;
	left: 598px;
}

#u2067
{
	width: 84px;
	padding-bottom: 28px;
}

#u2072.MuseMenuActive,#u2067:hover
{
	margin: 0px;
}

#u2050
{
	width: 84px;
	min-height: 42px;
	margin-right: -10000px;
	left: 684px;
}

#u2051
{
	width: 84px;
	padding-bottom: 28px;
}

#u2067.MuseMenuActive,#u2051:hover
{
	margin: 0px;
}

#u2051.MuseMenuActive
{
	margin: 0px;
}

#u2040-4,#u2091-4,#u2075-4,#u2070-4,#u2053-4
{
	width: 84px;
	min-height: 14px;
	margin-right: -10000px;
	top: 14px;
}

#menuu2035-bw
{
	z-index: 5;
	height: 42px;
}

#pu3403
{
	width: 0.01px;
	margin-top: -3px;
}

#u3403
{
	z-index: 64;
	width: 763px;
	position: relative;
	margin-right: -10000px;
}

#u3407-9
{
	z-index: 71;
	width: 507px;
	min-height: 119px;
	position: relative;
	margin-right: -10000px;
	margin-top: 57px;
	left: 134px;
}

#u3407-2
{
	font-size: 14px;
	text-align: justify;
	color: #7F7F7F;
	font-weight: bold;
}

#u3407-3,#u3407-5,#u3407-6
{
	font-size: 12px;
	text-align: justify;
	line-height: 14px;
	color: #7F7F7F;
}

#u3410
{
	z-index: 80;
	width: 139px;
	position: relative;
	margin-right: -10000px;
	margin-top: 150px;
	left: 120px;
}

#u3409-4
{
	z-index: 82;
	width: 47px;
	min-height: 14px;
	line-height: 14px;
	color: #7F7F7F;
	font-size: 12px;
	text-align: justify;
	position: relative;
	margin-right: -10000px;
	margin-top: 299px;
	left: 162px;
}

#u3412
{
	z-index: 86;
	width: 136px;
	position: relative;
	margin-right: -10000px;
	margin-top: 235px;
	left: 256px;
}

#u3414-4
{
	z-index: 88;
	width: 55px;
	min-height: 14px;
	line-height: 14px;
	color: #7F7F7F;
	font-size: 12px;
	text-align: justify;
	position: relative;
	margin-right: -10000px;
	margin-top: 382px;
	left: 297px;
}

#u3417
{
	z-index: 92;
	width: 136px;
	position: relative;
	margin-right: -10000px;
	margin-top: 152px;
	left: 378px;
}

#u3416-4
{
	z-index: 94;
	width: 54px;
	min-height: 14px;
	line-height: 14px;
	color: #7F7F7F;
	font-size: 12px;
	text-align: justify;
	position: relative;
	margin-right: -10000px;
	margin-top: 298px;
	left: 419px;
}

#u3420
{
	z-index: 102;
	width: 137px;
	position: relative;
	margin-right: -10000px;
	margin-top: 234px;
	left: 500px;
}

#u3422-4
{
	z-index: 104;
	width: 55px;
	min-height: 14px;
	line-height: 14px;
	color: #7F7F7F;
	font-size: 12px;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	margin-top: 383px;
	left: 546px;
}

#u3405
{
	z-index: 66;
	border-style: none;
	border-color: transparent;
	background-color: #7F7F7F;
	padding-bottom: 7px;
}

#u3406-4
{
	z-index: 67;
	width: 380px;
	min-height: 11px;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 17px;
}

#u3419-4
{
	z-index: 98;
	width: 150px;
	min-height: 11px;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 613px;
}

#u3405-bw
{
	z-index: 66;
	margin-top: 95px;
	height: 26px;
}

body
{
	position: relative;
	min-width: 768px;
	padding-top: 37px;
}

#page .verticalspacer
{
	clear: both;
}

