.version.prices /* version checker */
{
	color: #0000FA;
	background-color: #A9EC56;
}

@-ms-viewport
{
	width: 768px;
}

@-webkit-viewport
{
	width: 768px;
}

@-o-viewport
{
	width: 768px;
}

@-moz-viewport
{
	width: 768px;
}

@viewport
{
	width: 768px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 768px;
	min-height: 1023.6499999999985px;
	padding-bottom: 0px;
}

#page_position_content
{
	margin-top: -43px;
	margin-bottom: -84px;
}

#pu4303
{
	width: 0.01px;
	margin-left: 28px;
}

#u4303
{
	z-index: 60;
	width: 413px;
	margin-right: -10000px;
}

#u4462
{
	z-index: 62;
	width: 285px;
	margin-right: -10000px;
	margin-top: 48px;
	left: 435px;
}

#pu2034-3
{
	width: 0.01px;
	margin-top: -7px;
}

#u2034-3
{
	z-index: 2;
	min-height: 42px;
}

#u2034-3-bw
{
	z-index: 2;
	min-height: 42px;
	height: 42px;
}

#menuu2035
{
	z-index: 5;
}

#u2043
{
	width: 83px;
	min-height: 42px;
	margin-right: -10000px;
}

#u2044
{
	width: 83px;
	padding-bottom: 28px;
}

#u2044:hover
{
	margin: 0px;
}

#u2057
{
	width: 83px;
	min-height: 42px;
	margin-right: -10000px;
	left: 85px;
}

#u2058
{
	width: 83px;
	padding-bottom: 28px;
}

#u2044.MuseMenuActive,#u2058:hover
{
	margin: 0px;
}

#u2078
{
	width: 83px;
	min-height: 42px;
	margin-right: -10000px;
	left: 170px;
}

#u2081
{
	width: 83px;
	padding-bottom: 28px;
}

#u2058.MuseMenuActive,#u2081:hover
{
	margin: 0px;
}

#u4222
{
	width: 83px;
	min-height: 42px;
	margin-right: -10000px;
	left: 255px;
}

#u4223
{
	width: 83px;
	padding-bottom: 28px;
}

#u2081.MuseMenuActive,#u4223:hover
{
	margin: 0px;
}

#u2045-4,#u2060-4,#u2084-4,#u4224-4
{
	width: 83px;
	min-height: 14px;
	margin-right: -10000px;
	top: 14px;
}

#u2036
{
	width: 84px;
	min-height: 42px;
	margin-right: -10000px;
	left: 340px;
}

#u2037
{
	width: 84px;
	padding-bottom: 28px;
}

#u4223.MuseMenuActive,#u2037:hover
{
	margin: 0px;
}

#u2085
{
	width: 84px;
	min-height: 42px;
	margin-right: -10000px;
	left: 426px;
}

#u2088
{
	width: 84px;
	padding-bottom: 28px;
}

#u2037.MuseMenuActive,#u2088:hover
{
	margin: 0px;
}

#u2071
{
	width: 84px;
	min-height: 42px;
	margin-right: -10000px;
	left: 512px;
}

#u2072
{
	width: 84px;
	padding-bottom: 28px;
}

#u2088.MuseMenuActive,#u2072:hover
{
	margin: 0px;
}

#u2064
{
	width: 84px;
	min-height: 42px;
	margin-right: -10000px;
	left: 598px;
}

#u2067
{
	width: 84px;
	padding-bottom: 28px;
}

#u2072.MuseMenuActive,#u2067:hover
{
	margin: 0px;
}

#u2050
{
	width: 84px;
	min-height: 42px;
	margin-right: -10000px;
	left: 684px;
}

#u2051
{
	width: 84px;
	padding-bottom: 28px;
}

#u2067.MuseMenuActive,#u2051:hover
{
	margin: 0px;
}

#u2051.MuseMenuActive
{
	margin: 0px;
}

#u2040-4,#u2091-4,#u2075-4,#u2070-4,#u2053-4
{
	width: 84px;
	min-height: 14px;
	margin-right: -10000px;
	top: 14px;
}

#menuu2035-bw
{
	z-index: 5;
	height: 42px;
}

#pu3314
{
	width: 0.01px;
	margin-left: -208px;
	margin-top: -3px;
}

#u3314
{
	z-index: 64;
	width: 768px;
	position: relative;
	margin-right: -10000px;
	left: 208px;
}

#u3317
{
	z-index: 288;
	width: 156px;
	position: relative;
	margin-right: -10000px;
	margin-top: 483px;
	left: 693px;
}

#u3319
{
	z-index: 290;
	width: 156px;
	position: relative;
	margin-right: -10000px;
	margin-top: 749px;
	left: 693px;
}

#u3321
{
	z-index: 292;
	width: 119px;
	position: relative;
	margin-right: -10000px;
	margin-top: 152px;
	left: 737px;
}

#u3323
{
	z-index: 294;
	width: 156px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1136px;
	left: 698px;
}

#u3330-3
{
	z-index: 307;
	width: 5px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1084px;
}

#pu3327-5
{
	width: 0.01px;
	margin-left: 129px;
	margin-top: -1460px;
}

#u3327-5
{
	z-index: 301;
	width: 463px;
	min-height: 40px;
	color: #7F7F7F;
	text-align: justify;
	font-family: Helvetica, Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
}

#u3327-2
{
	font-size: 15px;
	line-height: 18px;
}

#u3328
{
	z-index: 306;
	width: 456px;
	height: 2px;
	border-style: none;
	border-color: transparent;
	background-color: #7F7F7F;
	opacity: 0.3;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	filter: alpha(opacity=30);
	position: relative;
	margin-right: -10000px;
	margin-top: 24px;
}

#u3316-222
{
	z-index: 66;
	width: 565px;
	min-height: 96px;
	color: #7F7F7F;
	text-align: justify;
	margin-left: 129px;
	top: -1423px;
	margin-bottom: -1304px;
	position: relative;
}

#u3316-30,#u3316-55,#u3316-78,#u3316-148,#u3316-168
{
	font-size: 12px;
	line-height: 14px;
	font-weight: bold;
}

#u3316-75,#u3316-100,#u3316-145,#u3316-182,#u3316-213
{
	font-size: 13px;
	line-height: 16px;
}

#u3316-2,#u3316-3,#u3316-29,#u3316-54,#u3316-77,#u3316-147,#u3316-167,#u3316-195,#u3316-202,#u3316-215
{
	font-size: 13px;
	line-height: 16px;
	font-weight: bold;
}

#u3316-5,#u3316-8,#u3316-11,#u3316-14,#u3316-17,#u3316-22,#u3316-25,#u3316-32,#u3316-35,#u3316-38,#u3316-41,#u3316-44,#u3316-47,#u3316-50,#u3316-57,#u3316-60,#u3316-63,#u3316-66,#u3316-70,#u3316-73,#u3316-80,#u3316-83,#u3316-86,#u3316-89,#u3316-92,#u3316-95,#u3316-98,#u3316-103,#u3316-106,#u3316-109,#u3316-112,#u3316-115,#u3316-118,#u3316-121,#u3316-124,#u3316-127,#u3316-131,#u3316-134,#u3316-137,#u3316-140,#u3316-143,#u3316-150,#u3316-153,#u3316-157,#u3316-160,#u3316-163,#u3316-172,#u3316-175,#u3316-178,#u3316-181,#u3316-185,#u3316-188,#u3316-191,#u3316-198,#u3316-205,#u3316-208,#u3316-211,#u3316-218
{
	font-weight: bold;
}

#u3327-3,#u3316-6,#u3316-9,#u3316-12,#u3316-15,#u3316-18,#u3316-20,#u3316-23,#u3316-26,#u3316-27,#u3316-33,#u3316-36,#u3316-39,#u3316-42,#u3316-45,#u3316-48,#u3316-51,#u3316-52,#u3316-58,#u3316-61,#u3316-64,#u3316-68,#u3316-71,#u3316-74,#u3316-81,#u3316-84,#u3316-87,#u3316-90,#u3316-93,#u3316-96,#u3316-97,#u3316-101,#u3316-104,#u3316-107,#u3316-110,#u3316-113,#u3316-116,#u3316-119,#u3316-122,#u3316-125,#u3316-129,#u3316-132,#u3316-135,#u3316-138,#u3316-141,#u3316-144,#u3316-151,#u3316-155,#u3316-158,#u3316-161,#u3316-164,#u3316-165,#u3316-170,#u3316-173,#u3316-176,#u3316-179,#u3316-180,#u3316-183,#u3316-186,#u3316-189,#u3316-192,#u3316-193,#u3316-196,#u3316-199,#u3316-200,#u3316-203,#u3316-206,#u3316-209,#u3316-212,#u3316-216,#u3316-219,#u3316-220
{
	font-size: 12px;
	line-height: 14px;
}

#u3325
{
	z-index: 296;
	border-style: none;
	border-color: transparent;
	background-color: #7F7F7F;
	padding-bottom: 52px;
}

#u3326-4
{
	z-index: 297;
	width: 380px;
	min-height: 11px;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 12px;
}

#u3331-4
{
	z-index: 310;
	width: 150px;
	min-height: 11px;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 609px;
}

#u3325-bw
{
	z-index: 296;
	margin-top: 134px;
	height: 26px;
}

body
{
	position: relative;
	min-width: 768px;
	padding-top: 37px;
}

#page .verticalspacer
{
	clear: both;
}

